*/__pycache__/*
*.pyc

### ### ### ### ### ### ###
# WebApp containers
### ### ### ### ### ### ###
# django container
django/opt/mysite/mysite/.env
django/opt/mysite/polls/migrations
# postgresql container

postgresql/data/*
postgresql/init/*